@font-face {
    font-family: 'kdam';
    src: url(fontes/KdamThmorPro-Regular.ttf)format('truetype');
}

:root {
    --font-principal: 'kdam';
    --cor-0: #03e37a;
    --cor-1: #17ade9;
    --cor-2: #514869;
    --cor-3: #142c32;
    --cor-4: #000056;
    --cor-5: #021A20;
    --cor-6: rgb( 201, 206, 210);
}

* {
    font-family: var(--font-principal);
    font-weight: bolder;
}

body {
    background-color: rgb(133, 8, 8);
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
}

section {
    background-color: var(--cor-3);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--cor-4);
}

#Inicio {
    outline: none;
    box-shadow: 0px 0px 10px var(--cor-4);
}

#txt {
    outline: none;
    box-shadow: 0px 0px 10px var(--cor-4);
}

p {
    color: #fff;
}

.res {
    color: #fff;
}

#bnt {
    background: var(--cor-0);
    border: none;
    border-radius: 3px;
    box-shadow: transparent;
}